$ancho: 100%;
$alto: 90px;
$color1: black;
$color2: #E59866;
$color3: linear-gradient(to right, rgb(188, 188, 188),white, white,white,rgb(188, 188, 188));
$color4: white;
$font1: 'Germania One', cursive;
$font2: Verdana, Geneva, Tahoma, sans-serif;

$size1: 15px;
$size2: 16px;
$alinear: center;

